/**
 * @name: general.class.less
 * @desc: Rozšiřující třídy
 */

/*** ------------ DEFAULT ----------------- **/

*, *::before, *::after {
    box-sizing: border-box;
}

/*** ------------ ACCESSIBILITY -------------------- **/

.szd-blind {
	position: absolute;
	left: -2000px;
	top: -2000px;
	height: 1px;
	width: 1px;
	display: block;
}

/*** ------------ FLOW -------------------- **/

/* float left */
.szd-left {
    float: left;
}

/* float right */
.szd-right {
    float: right;
}

/* reset floatování */
.szd-clear{
	float: none;
	
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

/*** ------------ SKRYVÁNÍ ----------------- **/

/* nezobrazovat na mobilu 1 */
.szd-not-mobile1 {
	/* layout – mobil 1 */
	@media screen and (max-width: @szd-mobile1-maxWidth) {
		display: none !important;
	}
}

/* nezobrazovat na mobilu 2 */
.szd-not-mobile2 {
	/* layout – mobil 2 */
	@media screen and (max-width: @szd-mobile2-maxWidth) {
		display: none !important;
	}
}

/* nezobrazovat na tablet */
.szd-not-tablet {
	/* layout – tablet  */
	@media screen and (max-width: @szd-tablet-maxWidth) {
		display: none !important;
	}
}

/* nezobrazovat na desktopu */
.szd-not-desktop {
	/* layout – desktop */
	@media screen and (max-width: @szd-desktop-maxWidth) {
		display: none !important;
	}
}


/*** ------------ PRVKY -------------------- **/

/*reset nastavení tlačítek*/
a,
button {
	#szd.clear-element();
}

/* odkazy */
.szd-link {

	/* základní vzhled */
	color: @szd-link-color;
	cursor: pointer;

	/* podtržení na hover */
	&:hover,
	&.szd-link-focus {

		/* základní vzhled */
		color: @szd-link-color-focus;

		&.szd-link-underline,
		.szd-link-underline {
			// color: currentColor;
			text-decoration: underline;
		}
	}

	/* aktivní prvek */
	&:active,
	&.szd-link-active {

		/* základní vzhled */
		color: @szd-link-color-active;

		&.szd-link-underline,
		.szd-link-underline {
			// color: currentColor;
			text-decoration: underline;
		}
	}

	/* navštívený odkaz */
	&:visited,
	&.szd-link-visited {

		/* základní vzhled */
		color: @szd-link-color-visited;
	}

}

/* tlačítka */
.szd-button {

	/* základní vzhled */
	color: @szd-button-color;
	border-style: solid;
	border-width: 1px;
	border-color: @szd-button-border-color;
	border-radius: @szd-button-radius;
	background-color: @szd-button-background-color;
	cursor: pointer;
	
	/* podtržení */
	&:hover {

		/* základní vzhled */
		color: @szd-button-color-focus;
		border-color: @szd-button-border-color-focus;
		background-color: @szd-button-background-color-focus;
	}

	/* aktivní prvek */
	&:active {

		/* základní vzhled */
		color: @szd-button-color-active;
		border-color: @szd-button-border-color-active;
		background-color: @szd-button-background-color-active;
	}

}

	.szd-button-active {
		.szd-button;

		/* základní vzhled */
		color: @szd-button-color-active;
		border-color: @szd-button-border-color-active;
		background-color: @szd-button-background-color-active;
	}

	.szd-button-activated {
		.szd-button;

		/* základní vzhled */
		color: @szd-button-color-activated;
		border-color: @szd-button-background-color-activated;
		background-color: @szd-button-background-color-activated;
	}


/* skupina tlačítek */
.szd-button-group {

	/* clear floatování */
	float: none;
	
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}

	/* základní vzhled */
	display: block;
	width: 100%;

	.szd-button {
		float: left;
		border-radius: 0;
		border-right-width: 0;

		&:first-child,
		&.szd-button-first {
			border-top-left-radius: @szd-button-radius;
			border-bottom-left-radius: @szd-button-radius;
		}

		&:last-child,
		&.szd-button-last {
			border-right-width: 1px;
			border-top-right-radius: @szd-button-radius;
			border-bottom-right-radius: @szd-button-radius;
		}
	}
}