/**
 * @name: general.text.less
 * @desc: Textové styly
 */

/*** ------------ TEXTOVÉ STYLY ---------------- **/
.dspl,
.pstr,
.ttl,
.hl,
.sbhl,
.bd,
.cptn {
	#szd.transition(200ms font-size linear);
	font-family: 'TriviaSeznam', 'Arial', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* výloha – display */
.dspl {
	/* layout - mobil 1, mobil-2, tablet, desktop */
	#szd.rem(font-size; 48px);
	#szd.rem(line-height; 56px);
}

/* plakát – poster */
.pstr {
	/* layout - mobil 1, mobil-2 */
	#szd.rem(font-size; 24px);
	#szd.rem(line-height; 31px);

	@media (min-width: @tb-minWidth) {
		#szd.rem(font-size; 34px);
		#szd.rem(line-height; 40px);
	}
}

/* titulek – title */
.ttl {
	/* layout - mobil 1, mobil-2, tablet, desktop */
	#szd.rem(font-size; 24px);
	#szd.rem(line-height; 31px);
}

/* nadpis – headline */
.hl {
	/* layout - mobil 1, mobil-2 */
	#szd.rem(font-size; 20px);
	#szd.rem(line-height; 32px);
}

/* podnadpis – sbhl */
.sbhl {
	/* layout - mobil 1, mobil 2 */
	#szd.rem(font-size; 16px);
	#szd.rem(line-height; 24px);

	/* layout – tablet */
	@media (min-width: @tb-minWidth) {
		#szd.rem(font-size; 18px);
		#szd.rem(line-height; 24px);
	}

	/* layout – desktop */
	@media (min-width: @dk-minWidth) {
		#szd.rem(font-size; 16px);
		#szd.rem(line-height; 24px);
	}
}

/* chleba – body */
.bd {
	/* layout - mobil 1, mobil 2 */
	#szd.rem(font-size; 14px);
	#szd.rem(line-height; 20px);

	/* layout – tablet */
	@media (min-width: @tb-minWidth) {
		#szd.rem(font-size; 16px);
		#szd.rem(line-height; 24px);
	}

	/* layout – desktop */
	@media (min-width: @dk-minWidth) {
		#szd.rem(font-size; 14px);
		#szd.rem(line-height; 20px);
	}
}

/* popisek – caption */
.cptn {
	/* layout - mobil 1, mobil 2 */
	#szd.rem(font-size; 12px);
	#szd.rem(line-height; 16px);

	/* layout – tablet */
	@media (min-width: @tb-minWidth) {
		#szd.rem(font-size; 14px);
		#szd.rem(line-height; 20px);
	}
	
	/* layout – desktop */
	@media (min-width: @dk-minWidth) {
		#szd.rem(font-size; 12px);
		#szd.rem(line-height; 16px);
	}
}