/**
 * @name: general.icon.less
 * @desc: Customizovaný icon font
 */

// ------------------------------------- ICON CONTROL ------------------------------------- // 

@font-face {
    font-family: 'szd-icon';
    src:url('@{szd-lib-path-static}fonts/szd-icon/szd-icon.eot?-wq6tqk');
    src:url('@{szd-lib-path-static}fonts/szd-icon/szd-icon.eot?#iefix-wq6tqk') format('embedded-opentype'),
        url('@{szd-lib-path-static}fonts/szd-icon/szd-icon.ttf?-wq6tqk') format('truetype'),
        url('@{szd-lib-path-static}fonts/szd-icon/szd-icon.woff?-wq6tqk') format('woff'),
        url('@{szd-lib-path-static}fonts/szd-icon/szd-icon.svg?-wq6tqk#szd-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="szd-icon-"], [class*=" szd-icon-"] {
    font-family: 'szd-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.szd-icon-open:before {
    content: "\67";
}
.szd-icon-baseline:before {
    content: "\6c";
}
.szd-icon-layout:before {
    content: "\62";
}
.szd-icon-close:before {
    content: "\63";
}
