/**
 * @name: grid.size.less
 * @desc: Vzhled stránky - rozměry elementů
 * @see: http://ux.mailchimp.com/patterns
 */

/*** ------------ GRID – VELIKOSTI - DEFAULT ---------------- **/

/* !! nejsou responsive, pouze adaptivní, slouží pro zarovnání */

/* 24 částí */
.size1of24 {
	/* všechny typy layoutů - 100/24% */
	width: 4.1666666667%;
}

/* 12 částí */
.size1of12 {
	/* všechny typy layoutů – 100/24% */
	width: 8.3333333333%;
}

/*** ------------ GRID – VELIKOSTI - RESPONSIVE ---------------- **/

/* 1 část z 8mi */
.size1of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet – 100/2% */
	@media screen and (min-width: @tb-minWidth) {
		width: 50%;
	}

	/* layout – desktop – 100/8% */
	@media screen and (min-width: @dk-minWidth) {
		width: 12.5%;
	}
}

/* 1 část ze 4, 2 částí z 8mi */
.size1of4,
.size2of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/4%*/
	@media screen and (min-width: @dk-minWidth) {
		width: 25%;
	}
}

/* 1 část ze 3 */
.size1of3 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/3%*/
	@media screen and (min-width: @dk-minWidth) {
		width: 33.333333333%;
	}
}

/* 3 části z 8mi */
.size3of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/8*3% */
	@media screen and (min-width: @dk-minWidth) {
		width: 37.5%;
	}
}

/* 1 část ze 2, 2 části ze 4, 4 části z 8mi */
.size1of2,
.size2of4,
.size4of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet – 100/2% */
	@media screen and (min-width: @tb-minWidth) {
		width: 50%;
	}

	/* layout – desktop – 100/2% */
	@media screen and (min-width: @dk-minWidth) {
		width: 50%;
	}
}

/* 5 částí z 8mi */
.size5of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/8*5% */
	@media screen and (min-width: @dk-minWidth) {
		width: 62.5%;
	}
}

/* 2 části z 3 */
.size2of3 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/3*2% */
	@media screen and (min-width: @dk-minWidth) {
		width: 66.67%;
	}
}

/* 3 části ze 4, 6 částí z 8mi */
.size3of4, 
.size6of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/4*3% */
	@media screen and (min-width: @dk-minWidth) {
		width: 75%;
	}
}

/* 7 části z 8mi */
.size7of8 {
	/* layout - mobil 1 */
	width: 100%;

	/* layout – mobil 2 */
	@media screen and (min-width: @m2-minWidth) {
		width: 100%;
	}

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		width: 100%;
	}

	/* layout – desktop – 100/8*7%*/
	@media screen and (min-width: @dk-minWidth) {
		width: 87.5%;
	}
}

/* 1 část 1, 2 části 2, 3 části 3, 4 části 4, 8 částí 8mi */
.size1of1,
.size2of2,
.size3of3,
.size4of4,
.size8of8 {
	width: 100%;
}