/**
 * @name: general.text.less
 * @desc: Textové styly
 */

/*** ------------ TEXTOVÉ STYLY ---------------- **/
.dspl,
.pstr,
.ttl,
.hl,
.sbhl,
.bd,
.cptn {
	.mx-transition(200ms font-size linear);
	font-family: 'TriviaSeznam', 'Arial', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
}

/* výloha – display */
.dspl {
	/* layout - mobil 1, mobil-2, tablet, desktop */
	// .mx-discrepancy(1.1666666667);
	font-size: 3em; 				/* 48px : 16px */
	line-height: 1.1666666667em; 	/* 56px : 48px */
}

/* plakát – poster */
.pstr {
	/* layout - mobil 1, mobil-2 */
	// .mx-discrepancy(1.2916666667);
	font-size: 1.5em; 				/* 24x : 16px */
	line-height: 1.2916666667em; 	/* 31px : 24px */

	/* layout – tablet, desktop */
	@media screen and (min-width: @tb-minWidth) {
		// .mx-discrepancy(1.1764705882);
		font-size: 2.1253em; 			/* 34px : 16px */
		line-height: 1.1764705882em; 	/* 40px : 34px */
	}
}

/* titulek – title */
.ttl {
	/* layout - mobil 1, mobil-2, tablet, desktop */
	// .mx-discrepancy(1.2916666667);
	font-size: 1.5em; 				/* 24x : 16px */
	line-height: 1.2916666667em; 	/* 31px : 24px */
}

/* nadpis – headline */
.hl {
	/* layout - mobil 1, mobil-2 */
	// .mx-discrepancy(1.6);
	font-size: 1.25em; 				/* 20px : 16px */
	line-height: 1.6em; 			/* 32px : 20px */
}

/* podnadpis – sbhl */
.sbhl {
	/* layout - mobil 1, mobil 2 */
	// .mx-discrepancy(1.5);
	font-size: 1em; 				/* 16px : 16px */
	line-height: 1.5em; 			/* 24px : 16px */

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		// .mx-discrepancy(1.3333333333);
		font-size: 1.125em; 			/* 18px : 16px */
		line-height: 1.3333333333em; 	/* 24px : 18px */
	}

	/* layout – desktop */
	@media screen and (min-width: @dk-minWidth) {
		// .mx-discrepancy(1.5);
		font-size: 1em; 				/* 16px : 16px */
		line-height: 1.5em; 			/* 24px : 16px */
	}
}

/* chleba – body */
.bd {
	/* layout - mobil 1, mobil 2 */
	// .mx-discrepancy(1.4285714286);
	font-size: .875em; 				/* 14px : 16px */
	line-height: 1.4285714286em; 	/* 20px : 14px */

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		// .mx-discrepancy(1.5);
		font-size: 1em; 				/* 16px : 16px */
		line-height: 1.5em; 			/* 24px : 16px */
	}

	/* layout – desktop */
	@media screen and (min-width: @dk-minWidth) {
		// .mx-discrepancy(1.4285714286);
		font-size: .875em; 				/* 14px : 16px */
		line-height: 1.4285714286em; 	/* 20px : 14px */
	}
}

/* popisek – caption */
.cptn {
	/* layout - mobil 1, mobil 2 */
	// .mx-discrepancy(.75);
	font-size: .75em; 				/* 12px : 16px */
	line-height: 1.3333333333em; 	/* 16px : 12px */

	/* layout – tablet */
	@media screen and (min-width: @tb-minWidth) {
		// .mx-discrepancy(.875);
		font-size: .875em; 				/* 14px : 16px */
		line-height: 1.4285714286em; 	/* 20px : 14px */
	}

	/* layout – desktop */
	@media screen and (min-width: @dk-minWidth) {
		// .mx-discrepancy(.75);
		font-size: .75em; 				/* 12px : 16px */
		line-height: 1.3333333333em; 	/* 16px : 12px */
	}
}