/**
 * @name: szd.settings.less
 * @desc: Základní, výchozí nastavení
 */

/*** ------------ ROZŠÍŘENÝ SEZNAM DESIGN ---------------- **/
@szd-base-style: "szd.base.less";
@szd-extended-style: "szd.extended.less";
@szd-extended: false;


/*** ------------ CESTA K SOUBORŮM ---------------- **/
@szd-lib-path-import: ''; 			/* cesta pro LESS soubory */
@szd-lib-path-static: '../'; 		/* cesta ke statickým souborům */


/*** ------------ TYPOGRAFIE ---------------------- **/
@szd-root-font-size-px: 16;


/*** ------------ NASTAVENÍ GRIDU ----------------- **/

/* layout – mobil 1 */
@szd-mobile1-minWidth-px: 320px;
@szd-mobile1-maxWidth-px: 407px;
@szd-mobile1-minWidth: 20em;             /* 320px */
@szd-mobile1-maxWidth: 25.4375em;        /* 407px */
@szd-mobile1-padding: 8px;
@szd-mobile1-gutter: 8px;

/* layout – mobil 2 */
@szd-mobile2-minWidth-px: 408px;
@szd-mobile2-maxWidth-px: 599px;
@szd-mobile2-minWidth: 25.5em;           /* 408px */
@szd-mobile2-maxWidth: 37.4375em;        /* 599px */
@szd-mobile2-padding: 16px;
@szd-mobile2-gutter: 8px;

/* layout – tablet */
@szd-tablet-minWidth-px: 600px;
@szd-tablet-maxWidth-px: 1007px;
@szd-tablet-minWidth: 37.5em;           /* 600px */
@szd-tablet-maxWidth: 62.9375em;        /* 1007px */
@szd-tablet-padding: 16px;
@szd-tablet-gutter: 8px;

/* layout – desktop */
@szd-desktop-minWidth-px: 1008px;
@szd-desktop-maxWidth-px: 1008px;
@szd-desktop-minWidth: 63em;             /* 1008px */
@szd-desktop-maxWidth: 63em;             /* 1008px */
@szd-desktop-padding: 32px;
@szd-desktop-gutter: 16px;


/*** –––––––––––– IMPORT STYLŮ ––––––––––––––––––– **/
.import(@szd-extended) {

	& when (@szd-extended = false) {
		@import "@{szd-lib-path-import}@{szd-base-style}";
	}

	& when (@szd-extended = true) {
		@import "@{szd-lib-path-import}@{szd-extended-style}";
	}
	
}

.import(@szd-extended);