/**
 * @name: grid.core.less
 * @desc: Základ vzhledu stránky
 */

/*** ------------ GRID – OBAL ---------------- **/

/* grid – základní obal */
.szd-grid {

	/* default */
	#szd.transition(500ms width ease-in-out);
	box-sizing: border-box;
	margin: auto;

	/* layout – mobil 1 */
	#szd.rem(min-width; @szd-mobile1-minWidth-px);
	#szd.rem(padding; 0 @szd-mobile1-padding);
	padding-left: 0;

	@media screen {

		/* layout – mobil 2 */
		@media (min-width: @szd-mobile2-minWidth) {
			#szd.rem(min-width; @szd-mobile2-minWidth-px);
			#szd.rem(padding; 0 @szd-mobile2-padding);
			#szd.rem(padding-left; unit(@szd-mobile2-padding - @szd-mobile2-gutter, 'px'));
		}

		/* layout – tablet */
		@media (min-width: @szd-tablet-minWidth) {
			#szd.rem(min-width; @szd-tablet-minWidth-px);
			#szd.rem(padding; 0 @szd-tablet-padding);
			#szd.rem(padding-left; unit(@szd-tablet-padding - @szd-tablet-gutter, 'px'));
		}

		/* layout – desktop */
		@media (min-width: @szd-desktop-minWidth) {
			#szd.rem(min-width; @szd-desktop-minWidth-px);
			#szd.rem(max-width; @szd-desktop-maxWidth-px);
			#szd.rem(padding; 0 @szd-desktop-padding);
			#szd.rem(padding-left; unit(@szd-desktop-padding - @szd-desktop-gutter, 'px'));
		}

	}

}