/**
 * @name: grid.core.less
 * @desc: Základ vzhledu stránky
 */

/*** ------------ GRID – OBAL ---------------- **/

/* grid – základní obal */
.gr {

	/* default */
	#szd.transition(500ms width ease-in-out);
	box-sizing: border-box;
	margin: auto;

	/* layout – mobil 1 */
	#szd.rem(min-width; @m1-minWidth-px);
	#szd.rem(padding; 0 @m1-padding);
	padding-left: 0;

	@media screen {

		/* layout – mobil 2 */
		@media (min-width: @m2-minWidth) {
			#szd.rem(min-width; @m2-minWidth-px);
			#szd.rem(padding; 0 @m2-padding);
			#szd.rem(padding-left; unit(@m2-padding - @m2-gutter, 'px'));
		}

		/* layout – tablet */
		@media (min-width: @tb-minWidth) {
			#szd.rem(min-width; @tb-minWidth-px);
			#szd.rem(padding; 0 @tb-padding);
			#szd.rem(padding-left; unit(@tb-padding - @tb-gutter, 'px'));
		}

		/* layout – desktop */
		@media (min-width: @dk-minWidth) {
			#szd.rem(min-width; @dk-minWidth-px);
			#szd.rem(max-width; @dk-maxWidth-px);
			#szd.rem(padding; 0 @dk-padding);
			#szd.rem(padding-left; unit(@dk-padding - @dk-gutter, 'px'));
		}

	}

}