/**
 * @name: specific.head.less
 * @desc: Hlavička
 */

/*** ------------ HLAVIČKA ---------------- **/

.head {

	/* vzhled */
	padding-top: 1em;
	height: 3em;
	background-color: @cl-bground;
	border-bottom: 1px solid @cl-border;

	@media screen and (min-width: @tb-minWidth) and (max-width: @tb-maxWidth) {
		height: 4em;
	}

	/* logo Firmy.cz */
	.logo {
		display: block;
		width: 80px;
		height: 17.5px;
		background-image: url(../img/demo/firmy-logo.png);
		background-size: 80px 17.5px;

		/* retina */
		@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { 
		  
			background-image: url(../img/demo/firmy-logo@2x.png);
		}

		/* odsazení */
		@media screen and (min-width: @tb-minWidth) and (max-width: @tb-maxWidth) {
			width: 110px;
			height: 24px;
			background-size: 110px 24px;
		}
	}

	/* odkazy */
	.links {

		/* odsazení */
		@media screen and (min-width: @tb-minWidth) {

			.lnk {		
				margin-left: 1.5em;

				&.hp {
					padding-left: 1.5em;
				}
			}

			@media screen and (max-width: @tb-maxWidth) {
				padding-top: 0.25em;
			}
		}

	}

	/* oblibené */
	.favourite {
		// margin-right: -0.25em;

		/* odsazení */
		@media screen and (min-width: @dk-minWidth) {
			margin-right: 0;
		}

		/* zarovnání iconf–text */
		.iconfont {
			font-size: 1.2em;
		}

		.bd {
			position: relative;
			top: -0.20em;
		}

		/* odsazení */
		@media screen and (min-width: @tb-minWidth) and (max-width: @tb-maxWidth) {

			.iconfont {
				position: relative;
				top: 3px;
			}

			.bd {
				top: 0;
			}
		}
	}

	/* odkaz na homepage */
	.hp {
		border-left: 1px solid @cl-separator;
	}

}