/**
 * @name: demo.base.less
 * @desc: Styly určené pro základní demo
 */

/*** ------------ PROMĚNNÉ A NASTAVENÍ ---------------- **/

/* barvy */
@cl-bground: rgba(229, 229, 229, 1);
@cl-text: #666;

/*** ------------ STYLY ---------------- **/

.content {

	* {
		box-sizing: border-box;
	}

	strong {
		font-weight: bold;
	}

	/* odsazení defaultních tříd */
	.unt {
		#szd.rem(margin-bottom; 16px);
	}

	.wrp {
		.ln {
			margin: 0;
		}

		.unt {
			#szd.rem(margin; 8px 0);
		}
		
		/* zobrazení responzivní třídy */
		.cnt {
			#szd.rem(height; 32px);
			#szd.rem(padding; 8px 0);

			box-sizing: border-box;
			text-align: center;
			color: @cl-text;
			background-color: @cl-bground;
		}
	}
	
	/* vlastní třídy */
	.title,
	.description {
		text-align: center;
	}

	.section {
		#szd.rem(margin-bottom; 16px);
		margin-bottom: .6666em;
	}

	.text {
		#szd.rem(margin-bottom; 8px);
		text-align: justify;
	}

}