/**
 * @name: specific.rating.less
 * @desc: Hodnocení
 */

/*** ------------ HODNOCENÍ ---------------- **/

.rating {
	margin-top: 2.5em;

	@media screen and (min-width: @dk-minWidth) {
		margin-top: 4em;
	}

	/* titulek */
	.ttl {
		margin-bottom: 1em;

		@media screen and (min-width: @dk-minWidth) {
			margin-bottom: 1.6666666667em;
		}
	}

	/* odsazení recenzí */
	.wrp {
		margin-bottom: 1.5em;

		@media screen and (min-width: @dk-minWidth) {
			margin-bottom: 2.5em;
		}
	}
	
	/* název uživatele */
	.name {
		font-weight: bold;
	}

	/* hodnocení */
	.stars {
		[class^="icof"], [class*=" icof"] {
			font-size: 1.4em;
			position: relative;
			top: 4px;
		}
	}

	/* poznámky */
	.cptn {
		.mx-opacity(0.4);
		position: relative;
		top: -1px;
	}

	/* text */
	.text {
		margin-top: .5714285714em;
	}

	/* ukázat více */
	.show-more {
		// margin-left: -.25em;
	}

	/* přidat hodnocení */
	.add {
		font-weight: bold;
		margin-right: -.25em;

		.iconfont {
			position: relative;
			top: 1px;
		}
	}

}