/**
 * @name: demo.base.less
 * @desc: Styly určené pro základní demo
 */

/*** ------------ PROMĚNNÉ A NASTAVENÍ ---------------- **/

/* barvy */
@cl-bground: rgba(229, 229, 229, 1);
@cl-text: #666;

/*** ------------ STYLY ---------------- **/

.content {

	* {
		box-sizing: border-box;
	}

	strong {
		font-weight: bold;
	}

	/* odsazení defaultních tříd */
	.unt {
		margin-bottom: 1em;
	}

	.wrp {
		.ln {
			margin: 0;
		}

		.unt {
			margin: .5em 0;
		}
		
		/* zobrazení responzivní třídy */
		.cnt {
			box-sizing: border-box;
			height: 2em;
			padding: 0.5em 0;
			text-align: center;
			color: @cl-text;
			background-color: @cl-bground;
		}
	}
	
	/* vlastní třídy */
	.title,
	.description {
		text-align: center;
	}

	.section {
		margin-bottom: .6666em;
	}

	.text {
		margin-bottom: .5714285714em;
		text-align: justify;
	}

}